@media (max-width:1024px){
    .desc {
        display: none !important;
    }
    .mob {
        display: block !important;
    }
    .item-container .item-label{
        font-size: 20px;
        padding:8px 5px;
    }
    .item-container {
        margin: 0 20px;
    }
    .wrapper{
        padding-left: 40px;
    }
    .price{
        font:700 36px 'Open sans', sans-serif;
    }
    .overlay .pop-up{
        padding: 30px;
        padding-top: 80px;
        width: calc(100% - 60px);
        max-width:795px;
        overflow: hidden;
        top: 5%;
    }
    .overlay .pop-up .product-view{
        margin-right: 20px;
    }

    .overlay .pop-up .head-block{
        position: absolute;
        top: 30px;
        max-width:600px;
    }
    .overlay .pop-up form button{
        width: 162px;
        height: 44px;
        font-size: 18px;
    }
    .overlay .pop-up form{
        bottom: auto;
        top: 240px;
    }
    .overlay .pop-up .other-info h3{
        display: block;
        line-height: 0;
        margin-bottom: 20px;
    }
    .overlay .pop-up .main-info{
        width: 25%;
        min-width: 120px;
        position: relative;
    }
    .overlay .pop-up .price {
        font: 700 36px 'Open sans', sans-serif;
        position: absolute;
        top: 75px;
        width: auto;
        min-width: 120px;
        margin-top: 0;
    }
    .overlay .pop-up .price > span {
        clear: both;
        display: block;
        line-height: 35px;
    }

    .overlay .pop-up .item-id{
        margin-top: 0;
    }
    .overlay .pop-up .rating {
        margin: 8px 0 0 -2px;
    }
    .overlay .pop-up form .input-container > label{
        padding-top: 14px;
        vertical-align: top;
        display: inline-block;
        padding: 14px 0;
    }
    .overlay .pop-up .other-info {
        width: 100%;
        max-width: 100%;
    }
    .pop-up  .other-info .price.mob{
        display: none !important;
    }
    .overlay .pop-up form .input-container {
        display: block;
        margin-bottom: 19px;
        width: 100%;
        text-align: left;
    }
    .overlay .pop-up form .input-container > label, .overlay .pop-up form .radio-container{
        width: 100%;
        clear: both;
        display: block;
    }
}

@media (max-width:719px){
    .item-container .item-label{
        padding:6px 5px;
        width: 265px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .item-container .item-label, .item-container .price.mob{
        font-size:18px !important;
    }
    .price{
        font:700 30px 'Open sans', sans-serif;
    }
    .overlay .pop-up{
        padding: 0px;
        padding-top: 190px;
        width: calc(100% - 40px);
        padding-bottom: 40px;
    }
    .overlay .pop-up form button{
        width: 280px;
        height: 57px;
        font-size: 18px;
        margin: 0 auto;
        display: block;
    }
    .overlay .pop-up form button:after {
        background-position: -178px -12px;
        top: 0px;
    }

    .overlay .pop-up form button:before {
        background-position: -227px -13px;
        top: -1px;
    }

    .overlay .pop-up .other-info h3{
        display: none;
    }
    .overlay .pop-up .other-info p {
        font: 400 14px "OpenSans", sans-serif;
    }
    .overlay .pop-up .price {
        font: 700 30px 'Open sans', sans-serif;
    }
    .overlay .pop-up .to-close {
        background: url("../img/sprite_buttons.png") no-repeat -55px center;
        right: 40px;
    }
    .head-block, .main-info, .other-info, form{
        float: none;
        width: 100%;
        padding:0 40px;
        max-width: 719px !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .overlay .pop-up .main-info{
        position: absolute;
        width: 100%;
        top: 155px;
    }

    .overlay .pop-up .product-view {
        margin-right: 0px;
        width: 100%;
        float: none;
        -webkit-background-size:cover !important;
        background-size:cover !important;
        background-position: center center !important;
    }
    .overlay .pop-up .price{
        display: none;
    }
    .overlay .pop-up h1{
        line-height: 65px;
    }
    .overlay .pop-up form{
        position: relative;
        top: auto;
        left: 0;
    }

    .overlay .pop-up .rating, .overlay .pop-up .item-id{
        width: 50%;
        float: left;
    }
    .overlay .pop-up .rating{
        margin: 0;
        float: right;
    }
    .overlay .pop-up .rating > span{
        float: right;
    }
    .overlay .pop-up .other-info {
        margin-top: 20px;
    }
    .overlay .pop-up .product-view .share{
        display: none;
    }
    .overlay .pop-up form .input-container {
        text-align: center;;
    }
    .product-view .share,
    .product-view .share .share-container{
        display: none;
    }
    .share-container.small{
        display: block;
        margin: 0 auto;
        float: none;
        display: table;
    }
    .pop-up  .other-info .price.mob{
        position: relative;
        top: auto;
        width: 100%;
        text-align: center;
        display: block !important;
        font-size: 30px !important;
    }

    .pop-up .price.mob span{
        clear: none;
        display: inline-block;
    }
}

@media (max-width:420px){
    .forSales{
        display: block;
    }
    .overlay .pop-up{
        max-width:402px;
        display: block;
        width: auto !important;
    }
    .head-block, .main-info, .other-info, form {
        max-width: 402px !important;
    }
    .wrapper{
        padding: 0;
    }
    .item-container{
        width: 265px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-top: 30px;
    }
    .overlay .pop-up h1 {
        line-height: 30px;
    }
    .overlay .pop-up .head-block {
        top: 50px;
    }
    .share-container .youtube, .jssocials-share{
        margin-right: 3px !important;
    }

    .overlay .pop-up form button {
        width: 220px;
    }
    #masonry-container {
        margin-left: 0px;
        margin-top: 30px !important;
    }

}

@media (max-width:330px){
    #masonry-container{
        padding-left: 0 !important;
        margin: 0 auto;
        width: 265px;
    }
    .item-container{
        margin: 0;
    }
}
